@model IEnumerable<Project.Models.Institute_details>

@{
    ViewBag.Title = "ApplyForInstituionScholarship";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2 class="alert alert-success">Apply For Institution Scholarship</h2></center>
<link href="~/CssStyle/TableDesign.css" rel="stylesheet" type="text/css" />
<br />
<table class="table" id="table" style="text-align:center">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ScholarshipID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.institutionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScholarshipName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScholarshipAmount)
        </th>
        <th>
            Apply From Here
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("" + item.ScholarshipID.ToString() + "", "ScholarshipDetails", new { sid = item.ScholarshipID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.institutionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScholarshipName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScholarshipAmount)
            </td>
            <td>
                @Html.ActionLink("To Apply Click Here", "ApplyScholarship", "ScholarshipRegistration", new
                {
                    ScholarshipID = item.ScholarshipID,
                    InstituteID = item.institutionID,
                    ScholarshipName = item.ScholarshipName,
                    ScholarshipAmount = item.ScholarshipAmount,
                    Course = item.CourseName
                }, null)
            </td>

        </tr>
    }

</table>
@Html.ActionLink("Back to Portal", "Student", "ScholarshipRegistration")