@model Project.Models.Institute_details

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Scripts/Create.css" rel="stylesheet" type="text/css" />
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Institute_details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.institutionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.institutionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScholarshipName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScholarshipName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScholarshipAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScholarshipAmount)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
